* {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

#floater {
    float: left;
    height: 50%;
    margin-bottom: -2.5rem;}

#content {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    position: relative;}

html, body {
    background-color: #0a0a0a;
    height: 100%;
}

div.top, div.bottom {
    text-align: center;
    margin: 0 auto;
}

div.digit{
    float: left;
    background-color: #151515;
    width: .7em;
    vertical-align: middle;
    -webkit-perspective: 1200px;
    -webkit-border-radius: .0625em;
}

div.top {
    height: .57em;
    overflow: hidden;
}

div.bottom {
    margin: 5px 0 0;
    height: .43em;
    padding-bottom: .15em;
    overflow: hidden;
}

div.bottom div.digit {
    position: relative;
    bottom: .57em;
}

div.firstDigit, div.thirdDigit {
    margin-right: .05em;
}

div.secondDigit {
    margin-right: .2em;
}

@-webkit-keyframes flipperBottom {
    from { -webkit-transform: rotateX(-180deg);}
    to   { -webkit-transform: rotateX(0deg);}
}

@-webkit-keyframes flipperTop {
    from { -webkit-transform: rotateX(0deg);}
    to   { -webkit-transform: rotateX(180deg);}
}

.flipperTop {
    position: relative;
    bottom: 1.15em;
    background-color: #151515;
    -webkit-border-radius: .0625em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-name: flipperTop;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
  }

.flipperBottom {
    position: relative;
    bottom: 1.15em;
    background-color: #151515;
    -webkit-border-radius: .0625em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-name: flipperBottom;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
  }