* {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

#floater {
    float: left;
    height: 50%;
    margin-bottom: -2.5rem;}

#content {
    clear: both;
    height: 5rem;
    width: 12.7rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;}

html, body {
    background-color: #121212;
    height: 100%;
}

div.top, div.bottom {
    text-align: center;
    margin: 0 auto;
}

div.digit{
    float: left;
    background-color: #000;
    width: 3rem;
    vertical-align: middle;
    -webkit-perspective: 1200px;
}

div.top {
    height: .57em;
    overflow: hidden;
}

div.bottom {
    margin: 5px 0 0;
    height: .43em;
    overflow: hidden;
}

div.bottom div.digit {
    position: relative;
    bottom: .57em;
}

div.hourTens, div.minuteTens {
    margin-right: .1rem;
}

div.hourOnes {
    margin-right: .5rem;
}

@-webkit-keyframes flipperBottom {
    from { -webkit-transform: rotateX(-180deg);}
    to   { -webkit-transform: rotateX(0deg);}
}

@-webkit-keyframes flipperTop {
    from { -webkit-transform: rotateX(0deg);}
    to   { -webkit-transform: rotateX(-180deg);}
}

.flipperTop {
    -webkit-backface-visibility: hidden;
    -webkit-animation-name: flipperTop;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
    -webkit-transform-style: preserve-3d;
  }

.flipperBottom {
    -webkit-backface-visibility: hidden;
    -webkit-animation-name: flipperBottom;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
    -webkit-transform-style: preserve-3d;
  }